		
	$light-blue: #E2F5FF;
	$dark-blue: #0075B2;
	$orange: #FF9003;
	$light-orange: #FFC377;
	$brown: #B26550;


		body {
			font-family:'Lato', sans-serif;
			font-weight:400;
		}

		#myCarousel{
			margin: 80px 0 250px;
			.carousel-indicators {
				bottom: -50px;
			}
			.carousel-inner{
				overflow: visible;
				.carousel-caption{
					padding: 0;
					top: 550px;
				}	
				.carounsel-text{
					color: #fff;
				}
			}
		}

		nav{
			background-color: $dark-blue;
			&.navbar{
				border-bottom: 3px solid $light-orange;
				.navbar-toggle{
					background-color: $light-blue;
					.icon-bar{
						background-color: $dark-blue;
					}
				}			
				li{
					a.page-scroll{
						color: $light-blue;
						font-weight:600;
						text-transform: uppercase;
						background-color: $dark-blue;
						&:hover{
							color: $light-orange;
							background-color: $dark-blue;
						}
						&.active{
							color: $light-orange;
							background-color: $dark-blue;
						}
					}
				}
			}
		}

		@mixin socialMediaButton($horiz, $vert){
			background-position: $horiz $vert;
			&:hover{
				background-position: $horiz -36px;
			}
		}

		.social-links {
			a{
				display: block;
				width: 36px;
				height: 36px;
				background: url(../images/social.svg) no-repeat;
				&.linkedin{
					@include socialMediaButton(0, 0);
				}
				&.flickr{
					@include socialMediaButton(-36px, 0);
				}
				&.twitter{
					@include socialMediaButton(-72px, 0);
				}
				&.instagram{
					@include socialMediaButton(-108px, 0);
				}
				&.facebook{
					@include socialMediaButton(-144px, 0);
				}
			}			
		}
		.row{
			padding: 120px 0 220px 0;
			margin-bottom: 20px;
		}
		header#intro{
			padding: 120px 0 60px 0;
			margin-bottom: 20px;
		}
		section:nth-child(even){
			background-color: $light-blue;
		}
		section:nth-child(3){
			background-color: $brown;
		}
		section:nth-child(5){
			background-color: $light-orange;
		}
		h2, h1{
			font-size: 50px;
			text-transform: uppercase;
			font-weight: 200;
			text-align: center;
			span.bold{
				font-weight: 900;
			}
		}
		.background {
    		position: relative;
    		z-index: 1;
    		&:before {
        		border-top: 2px solid;
        		content:"";
        		position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        		top: 50%; left: 0; right: 0; bottom: 0;
        		width: 100%;
        		z-index: -1;
        	}
        	span.background-wrap { 
        		padding: 0 15px; 
    		}
    	}
		p, li{
				line-height: 28px;
				font-size: 16px;
		}
		h3{
			font-size:24px;
			line-height:40px;
			margin-bottom: 0;
			font-family: 'Libre Baskerville', serif;
			text-align: center;
		}
		h4{
			font-size:16px;
			line-height: 20px;
			font-weight:400;
		}
		//default colors
		a,label,p, ul, h5{
			color: $dark-blue;
		}
		a{
			&:hover{
				color: $dark-blue;
			}
		}
		.drop-shadow {
        	-webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
        	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
    	}

		header#intro{
			h1{
				color: $dark-blue;
			}
			h3{
				color: $dark-blue;
			}
			p{
				width: 80%;
				margin: 15px auto;
				text-align: center;
			}
			.btn{
				background-color: $orange;
				&:hover{
					background-color: $brown;
				}
				span.glyphicon{
					padding: 0 0 0 5px;
				}
			}
			.jump-work-link{
				margin: 0 auto;
				float: none;
				display: block;
			}
		}

		//default .btn style
		.btn{
			color: $light-blue;
			font-weight: 600;
			&:hover{
				color: $light-blue;
			}
		}
		.top-buffer { 
			margin-top:20px; 
		}
		.glyphicon{
			margin-right: 4px;
		}

		div#work{
			position: relative;
			div.work-example-wrap{
				margin-top: 80px;
				position: relative;
				.work-ex-inner{
					cursor: pointer;
					border: 3px solid $brown;
					&:hover{
						border: 3px solid $light-blue;
					}
					span.glyphicon-info-sign{
						font-size: 16px;
						color: $orange;
						position: absolute;
						top: 15px;
						right: 25px;
						&:hover{
							color: $dark-blue;
						}
					}
				}
			}
			h2{
				color: $light-blue;
			}
			h3{
				color: $light-blue;
			}
			h4{
				color: $dark-blue;
				margin: 0;
				padding: 10px 0 10px 15px;
				border-bottom: 1px solid $dark-blue;
				background-color: #fff;
				font-weight: 500;
			}
			.background {	
        		border-color: $light-blue;
        		span.background-wrap{
					background-color: $brown; 
				}
			}
			a.fill-div{
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				z-index: 200;
			}
			.work-example{
				position: relative;
				overflow: hidden;
				border: 4px solid #fff;
				div.overlay{
					background-color: $dark-blue;
					width: 100%;
					height: 0;
					transition: height 0.3s;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 100;
					p{
						display: none;
						color: $light-blue;
						margin: 15px;
						font-weight: 500;
					}
				}
				.work-image-container{
					img{
						width: 100%;
					}
				}
			}
		}
		
		div#about{
			h2{
				color: $brown;
			}
			.background {	
        		border-color: $brown;
        		span.background-wrap{
					background-color: $light-blue; 
				}
			}
			h4{
				color: $brown;
			}
			h3{
				color: $brown;
			}
			.btn{
				background-color: $brown;
				&:hover{
					background-color: $orange;
				}
			}
			ul{
				li{
					padding-left: 0;
					padding-right: 10px;
				}
			}
			img.my-photo{
	    		width:25%;
	    		border-radius: 4px;
	    		float: left;
	    		margin: 2% 8% 5% 3%;
	    		-ms-transform: rotate(-10deg); /* IE 9 */
	    		-webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
	    		transform: rotate(-10deg);
    		}
		}	

    	div#contact{
    		h2{
    			color: $dark-blue;
    		}
    		h4{
    			color: $brown;
    		}
    		h3{
    			color: $dark-blue;
    		}
    		.form-horizontal{
    			background-color: #fff;
    			padding-top:15px;
    			border-radius:4px;
    			.form-control{
    				border: 1px solid $brown;
    				color: $brown;
    			}
    		}
    		.btn{
				background-color: $orange;
				&:hover{
					background-color: $brown;
				}
			}
			.background {	
        		border-color: $dark-blue;
        		span.background-wrap{
					background-color: $light-orange; 
				}
			}
			label.control-label{
				font-weight: 400;
			}
    	}


    	.ribbon-wrapper-orange {
  			width: 85px;
  			height: 88px;
  			overflow: hidden;
  			position: absolute;
  			z-index: 20;
  			top: -3px;
  			right: -3px;
  			pointer-events: none;
  			.ribbon-orange {
  				color: $light-blue;
  				font-weight:600;
  				text-align: center;
  				-webkit-transform: rotate(45deg);
  				-moz-transform:    rotate(45deg);
  				-ms-transform:     rotate(45deg);
  				-o-transform:      rotate(45deg);
  				position: relative;
  				padding: 7px 0;
  				left: -5px;
  				top: 15px;
  				width: 120px;
  				background-color: $orange;
  				-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  				-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  				box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
			}
		}

		footer{
			background-color: $brown;
			padding: 10px 0;
			border-top: 3px solid $orange;
			p,a{	
				color: $light-blue;
				text-align: center;
				font-size: 14px;
				line-height: 18px
			}
			a{
				&:hover{
					text-decoration: none;
					color: $light-orange;
				}
			}
			.btn{
				margin: 0 auto;
				width: 105px;
				display: block;
				background-color: $orange;
				&:hover{
					background-color: $light-orange;
					color: $brown;
				}
			}
			.email-link{
				text-align: right;
			}
		}


		.text-justify {
        	text-align: center;
    	}
		



/* anything below 767px is xs on bootstrap 3 */
@media (max-width: 767px) {
	.social-links-wrap, .email-link{
		text-align: center;
	}
	.email-link{
		margin-top: 15px;
	}
	img.my-photo{
    	-ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    	transform: rotate(0deg);
    }
    .text-justify {
        text-align: left;
    }
    .row{
    	padding: 50px 0;
    }
	div#work{
		.work-example{
			height: 150px
		}
	}
}

@media (max-width: 600px) {
	.background {
    	&:before {
    		border-top: none;
    	}
    	span.background-wrap { 
        	padding: 0; 
    	}
    }
    h2,h1{
    	font-weight: 900;
    }
    .work-example-wrap{
    	width: 100%;
    }
}

@media (max-width: 450px) {
	img.my-photo{
		float: none;
		width: 60%;
		margin: 0 auto;
		display: block;
	}
	h1{
		font-size: 43px;
	}
	h2{
		font-size: 38px;
	}
	h3{
		font-size: 20px;
		line-height: 30px;
	}
	header#intro{
		.col-xs-offset-1{
			margin-left: 0;
		}
		.col-xs-10{
			width: 100%;
		}
	}
	div#work{
		.work-example{
			height: 150px;
		}
	}
	div#about{
		p{
			padding-top: 25px;
		}
	}
}

/* Small desktops / portrait tablets, 768px and up to 991px, sm on bootstrap 3 */
@media (min-width: 768px) and (max-width: 991px) {
	div#work{
		.work-example{
			height: 190px
		}
	}
}

/* Medium desktops / landscape tablets, 992px and up to 1199px, md on bootstrap 3 */
@media (min-width: 992px) and (max-width: 1199px) {
	div#work{
		.work-example{
			height: 170px
		}
	}
}

/* Large desktops, 1200px and up, lg on bootstrap 3 */
@media (min-width: 1200px) {
	div#work{
		.work-example{
			height: 200px
		}
	}
}

